<div class="ng-header">
  <div class="ng-header-left left">
    <div class="toggle-menu-button left" (click)="toggleMenu()">
      <a class="icon">
        <i class="pi pi-bars"></i> Menu
      </a>
    </div>
    <div class="logo right">
      GLOBAL BANK
    </div>
  </div>
  <div class="ng-header-right right">
    <div class="ng-header-right-item right">
      <a class="icon" (click)="logout()"><i class="pi pi-sign-out"></i></a>
    </div>
    <div class="ng-header-right-item right" (click)="userdetails.toggle($event)">
      <a class="icon"><span [innerHtml]="user.userName" class="user-name"></span><i class="pi pi-user"></i></a>
    </div>
  </div>
</div>

<!-- user detials overlay panel -->
<p-overlayPanel #userdetails>
  <div><b>User Name: </b><i [innerHtml]="user.userName"></i></div>
  <div><b>Email Id: </b><i [innerHtml]="user.emailId"></i></div>
  <div><b>Birthdate: </b><i [innerHtml]="user.birthDate | date:'dd/MM/yyyy'"></i></div>
</p-overlayPanel>
