
<p-sidebar [visible]="visible" position="left" [showCloseIcon]="false" styleClass="np-menubar" class="p-shadow-2" [modal]="false">
  <ul class="np-menu">
      <ng-template #recursiveList let-list>
          <li *ngFor="let menu of list">
              <a (click)="onMenuClick(menu)" [ngClass]="{'active': selectedItem == menu.Label}">
                  <i class="pi pi-fw" [ngClass]="menu.Icon"></i>
                  {{menu.Label}}
                  <i class="pi right" *ngIf="menu.Childs != null "
                      [ngClass]="{'pi-angle-down': !menu.IsChildVisible,'pi-angle-up': menu.IsChildVisible }"></i>
              </a>
              <ul *ngIf="menu.Childs && menu.Childs.length > 0 && menu.IsChildVisible" class="np-sub-menu">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menu.Childs }">
                  </ng-container>
              </ul>
          </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: items }"></ng-container>
  </ul>
</p-sidebar>
