<app-header-section [titre]="'Create a new customer'" [description]="''" [retour]="true"></app-header-section>

<div class="p-row">
  <div class="p-md-12">

  </div>
</div>

<br />


<div class="p-row">
  <div class="p-col-12">

    <p-card [style]="{width: 'width'}" styleClass="styleClass">

      <form [formGroup]="customerForm" (ngSubmit)="onFormSubmit()">


        <p-tabView>
          <!-- Informations de base -->
          <p-tabPanel>
            <ng-template pTemplate="header">
              Basic customer information <span class="danger">*</span>
            </ng-template>

            <br />
            <div class="p-fluid p-grid">
              <div class="p-field p-col">
                <label for="mat">Matricule <span class="danger">*</span></label>
                <input id="mat" type="text" pInputText name="mat" formControlName="mat" />
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="typeClient">Customer type <span class="danger">*</span></label>
                <p-dropdown [options]="customerType" id="typeClient" formControlName="typeClient"></p-dropdown>
              </div>
              <div class="p-field p-col">
                <label for="typeResident">Resident <span class="danger">*</span></label>
                <p-dropdown [options]="residentType" id="typeResident" formControlName="typeResident"></p-dropdown>
              </div>
              <div class="p-field p-col">
                <label for="nantClient">Nationality <span class="danger">*</span></label>
                <p-dropdown [options]="customerNat" id="natClient" formControlName="natClient"></p-dropdown>
              </div>
            </div>

            <div class="p-grid p-fluid">
              <div class="p-col p-field">
                <label>Witness</label>
                <input id="input" type="text" pInputText>
              </div>
            </div>

            <div class="p-grid p-fluid">
              <div class="p-col p-field">
                <label>Beac Nat.</label>
                <input id="input" type="text" pInputText formControlName="natBeac" />
              </div>
              <div class="p-col p-field">
                <label for="">Beac Lib.</label>
                <p-dropdown [options]="beacNatList" [(ngModel)]="beacNat" placeholder="Choose an institution"
                  optionLabel="lib" [showClear]="true" (onChange)="onChooseBeacNat()"
                  [ngModelOptions]="{standalone: true}"></p-dropdown>
              </div>
            </div>

          </p-tabPanel>

          <!-- type de client -->
          <p-tabPanel>
            <ng-template pTemplate="header">
              Customer type <sub> ({{ getCustomerType() }})</sub>
              <span class="danger">*</span>
            </ng-template>

            <br />

            <div *ngIf="checkTypeClient('Physical person')">

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>Quality<span class="danger">*</span></label>
                  <p-dropdown [options]="customerQuality" id="natClient" formControlName="qualite"></p-dropdown>
                </div>
                <div class="p-col p-field">
                  <label for="">Title<span class="danger">*</span></label>
                  <p-dropdown [options]="customerTitle" id="natClient" formControlName="libTitre"></p-dropdown>
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>First Name<span class="danger">*</span></label>
                  <input id="input" type="text" pInputText formControlName="nom" />
                </div>
                <div class="p-col p-field">
                  <label for="">Last Name</label>
                  <input id="input" type="text" pInputText formControlName="prenom" />
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>Birth Date<span class="danger">*</span></label>
                  <p-calendar id="input" inputId="basic" formControlName="dateNaissance" ></p-calendar>
                </div>
                <div class="p-col p-field">
                  <label for="">Birth Prec..<span class="danger">*</span></label>
                  <p-dropdown [options]="precisNais" id="natClient" formControlName="precisNaiss"></p-dropdown>
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>Place<span class="danger">*</span></label>
                  <input type="text" pInputText id="input" formControlName="lieuNaissance" />
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>Father Name</label>
                  <input id="input" type="text" pInputText formControlName="nomPere" />
                </div>
                <div class="p-col p-field">
                  <label for="">Mother Name</label>
                  <input id="input" type="text" pInputText formControlName="nomMere" />
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>Maiden Name</label>
                  <input id="input" type="text" pInputText formControlName="nomJeuneFille" />
                </div>
                <div class="p-col p-field">
                  <label for="">Customer Category<span class="danger">*</span></label>
                  <p-dropdown [options]="customerCategory" id="natClient" formControlName="catClient"></p-dropdown>
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>Profession<span class="danger">*</span></label>
                  <input id="input" type="text" pInputText formControlName="profession" />
                </div>
                <div class="p-col p-field">
                  <label for="">NID/Pport<span class="danger">*</span></label>
                  <input id="input" type="text" pInputText formControlName="cnipass" />
                </div>
              </div>

              <div class="p-grid p-fluid">
                <div class="p-col p-field">
                  <label>NID issu At</label>
                  <input id="input" type="text" pInputText formControlName="placeIssuCni" />
                </div>
                <div class="p-col p-field">
                  <label for="">NID issu date</label>
                  <p-calendar id="input" inputId="basic" formControlName="dateIssuCni" ></p-calendar>
                </div>
                <div class="p-col p-field">
                  <label for="">NID expire date</label>
                  <p-calendar id="input" inputId="basic" formControlName="dateExpCni" ></p-calendar>
                </div>
              </div>

            </div>


            <div *ngIf="checkTypeClient('Corporation')">
              entreprise

            </div>

          </p-tabPanel>


          <!-- Informations supplementaires -->
          <p-tabPanel>
            <ng-template pTemplate="header">Additional Information</ng-template>

            <br />


          </p-tabPanel>

        </p-tabView>


        <hr />

        <div class="p-row">
          <div class="p-md-12">
            <div class="p-grid p-jc-between">

              <p-button type="reset" icon="pi pi-reset" label="Reset" styleClass="p-button-secondary"></p-button>

              <p-button type="submit" icon="pi pi-check" label="save" [disabled]="customerForm.invalid"
                styleClass="p-button-primary"></p-button>

            </div>
          </div>
        </div>

      </form>

    </p-card>

  </div>
</div>
